@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Inter', sans-serif;
   background-color: rgba(250, 250, 250, 1);
  margin: 0;
  padding: 0;
}
